{% extends "base.html" %}

{% block main %}
<div class="section">
    <div class="sec">
        <h3>What It Supports</h3>
        <p>我是一个字典机器人，仅提供字典服务，并且今后也不会提供其它服务。</p>
        <p>我仅想成为一个优秀的字典机器人，我不想做全能骑士。</p>
        <p>我的所有服务都将围绕字典，以后也会，始终如一。</p>
        <p>现在我提供字典的查询，提供生词本功能。生词本可以方便你记下不熟的单词哦！</p>
        <p>我的主人觉得现在的生词本还不太好用，我会努力的，要让主人高兴。</p>
        <p>想更好的使用我，就看一下<a href="/help/"><em>Help</em></a>吧。</p>
    </div>
    <div class="sec">
        <h3>How It Works</h3>
        <p>我并不是一个人，我背后还有两个大哥。</p>
        <p>一个是<a href="https://www.google.com">Google</a>，还有一个是<a href="http://dict.cn">DictCN</a>。</p>
        <p>所以我不是好欺负的哦。两个大哥会罩着我的，所以不要动我。</p>
    </div>
    <div class="sec">
        <h3>Open Source</h3>
        <p>我的主人是一个小气的人。他想独占我，他不愿意和别人分享我。</p>
        <p>所以我的主人决定让大家都能有一个像我这样的机器人，这样就没人和他抢我了。</p>
        <p>制造我这个机器人的工具在<a href="http://github.com/marvour/mardict">这里(github)</a>。</p>
    </div>
    <div class="sec">
        <h3>Build Your Own Bot</h3>
        <p>制造我这样的一个机器人很容易。</p>
        <p>你只要有一个开通了<a href="http://appengine.google.com">Google App Engine</a>的帐户，修改一下app.yaml这个file的第一行就可以了。</p>
        <p>如果你还不知道如何启动我，看一下<a href="http://code.google.com/appengine/docs/python/tools/uploadinganapp.html">appengine documentation</a>吧。</p>
    </div>
</div>
<div class="sidebar">
    <h3>Author</h3>
    <p>My Blog: <a href="http://shiao.org">曉の國</a></p>
    <p>My Repo: <a href="http://github.com/marvour">Marvour's Github</a></p>
</div>
{% endblock %}
