{% extends "base.html" %}

{% block nav %}
<li><a href="/">Home</a></li>
<li><a class="current" href="/user/">User</a></li>
<li><a href="/help/">Help</a></li>
{% endblock %}

{% block main %}
<div class="mform">
    <form action="/tool/import/" method="post" enctype="multipart/form-data">
        <input type="file" name="marfile" /><input type="submit" value="Submit" />
    </form>
</div>
<div class="mtable">
    <table>
        <thead>
            <tr>
                <th class="cl-word">单词</th>
                <th class="cl-pron">音标</th>
                <th class="cl-define">解释</th>
                <th class="cl-rate">Rate</th>
                <th class="cl-date">时间</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr class="{% cycle odd,even %}">
                <td>
                    <p>{{ item.word }}</p>
                    <p class="actions">
                        <span class="delete">
                            <a href="?action=delete">Delete</a>
                        </span>
                    </p>
                </td>
                <td><p>{{ item.pron }}</p></td>
                <td><p>{{ item.define }}</p></td>
                <td><p>{{ item.rating }}</p></td>
                <td><p>{{ item.date|date:"D d M Y" }}</p></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th class="cl-word">单词</th>
                <th class="cl-pron">音标</th>
                <th class="cl-define">解释</th>
                <th class="cl-rate">Rate</th>
                <th class="cl-date">时间</th>
            </tr>
        </tfoot>
    </table>
</div>

{% endblock %}
