{% extends "base.html" %}

{% block title %}MarDict | User{% endblock %}

{% block nav %}
<li><a href="/">Home</a></li>
<li><a class="current" href="/user/">User</a></li>
<li><a href="/help/">Help</a></li>
{% endblock %}

{% block subnav %}
<li><a href="/user/">List</a></li>
<li><a href="/user/log/">History</a></li>
<li><a href="/user/mardict.xml">Export</a></li>
<li><a href="/user/import/">Import</a></li>
{% endblock %}

{% block main %}
<div id="tablenav" class="clearfix">
    <div class="pagination">
        <div class="clearfix page-nav">
            {% if data.has_previous %}
            <a href="?p={{data.previous_page_number}}" class="page-numbers" title="previous page">«</a>
            {% endif %}

            {% for p in data.paginator.mvrange %}
            {% ifequal p data.number %}
            <span class="page-numbers current">{{p}}</span>
            {% else %}
            <a href="?p={{p}}" class="page-numbers">{{p}}</a>
            {% endifequal %}
            {% endfor %}

            {% if data.has_next %}
            <a href="?p={{data.next_page_number}}" class="page-numbers" title="next page">»</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="mtable clear">
    <table>
        <thead>
            <tr>
                <th class="cl-word">单词</th>
                <th class="cl-pron">音标</th>
                <th class="cl-define">解释</th>
                <th class="cl-rate">Rate</th>
                <th class="cl-date">时间</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data.object_list %}
            <tr class="{% cycle odd,even %}">
                <td>
                    <p>{{ item.word }}</p>
                    <p class="actions">
                    <span class="delete">
                        <a href="?action=delete&key={{item.key}}">Delete</a>
                    </span>
                    </p>
                </td>
                <td><p>{{ item.pron }}</p></td>
                <td><p>{{ item.define }}</p></td>
                <td><p>{{ item.rating }}</p></td>
                <td><p>{{ item.date|date:"Y-m-d H:i:s" }}</p></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th class="cl-word">单词</th>
                <th class="cl-pron">音标</th>
                <th class="cl-define">解释</th>
                <th class="cl-rate">Rate</th>
                <th class="cl-date">时间</th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}
